@import url("../../App.css");

.mainContent {
  padding: 1.25em 1.25em 0.125em 1.25em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.rowModal {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0rem 1.8rem 0rem;
}

.campos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#dataInicialCampo, #dataFinalCampo {
  width: 48%;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1rem;
}

.btnRegister {
  margin-top: auto;
  width: 150px;
  height: 40px;
  border: none;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: var(--mainColor);
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
}

.btnRegister:hover {
  background-color: var(--activeButton);
}

.btnRegister:focus {
  outline: none;
  background-color: var(--activeButton);
}

.btnRegister:active {
  outline: none;
  background-color: var(--mainColor);
}

@media (max-width: 870px) {
  .campos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .btnRegister {
    width: 50%;
  }
}

@media (max-width: 480px) {
  #dataInicialCampo, #dataFinalCampo {
    width: 44%;
  }

  .btnGroup {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 1rem;
  }
}
