@import url("../../App.css");

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.updates {
  display: flex;
  gap: 1rem;
}

#includeDate{
  width: 50%;
}

#updateDate {
  width: 200%;
}

.footer input {
  background-color: var( --light-gray);
  width: 90%;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media (max-width: 1180px) {
  .footer {
    flex-direction: column;
    gap: 1rem;
  }
}
