:root {
  --red: #ff0000;
  --white: #ffffff;
  --mainColor: #169559;
  --mainColorBackGround: #1677ff6d;
  --secondColor: #000c17;
  --activeButton: #1eb882;
  --gray: #cccccc;
  --textColor: #374151;
  --black: #000000;
  --background-secondary: #f1f0f5;
  --light-gray: #e6e6e6;
  --readOnlyColor: #676767;
  --fontPadrao: 1rem;
  --headerFont: 1.875rem;
}

input[type="number"], input[type="text"], input[type="email"] {
  border-color: #d9d9d9;
  border-width: 1px;
  border-style: solid;
  height: 22px;
}

input:focus {
  border: 0.063rem solid var(--activeButton);
}

input::placeholder {
  color: #CCCCCC;
  font-size: var(--fontPadrao);
}

:global(.ant-select-selector) {
  font-size: var(--fontPadrao);
}

:global(.ant-table-cell) {
  font-size: var(--fontPadrao);
}

:global(.ant-pagination) {
  font-size: var(--fontPadrao);
}

:global(.ant-btn) {
  font-size: var(--fontPadrao);
}

:global(.ant-select-item-option-content) {
  font-size: var(--fontPadrao);
}

.App {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: nonre;
  font-size: 14px;
}

html ::-webkit-scrollbar {
  width: 5px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: var(--secondColor);
}

html ::-webkit-scrollbar-track {
  background: var(--gray);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px; 
}

.header {
  gap: 1.25em;
  display: flex;
  flex-direction: row;
}

.header h1 {
  font-size: 1.875rem;
  font-weight: bold;
}

.header p {
  font-size: 0.875rem;
  align-self: center;
}

.botoesGrid {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 1024px) {
  html {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  html {
     font-size: 14px;;
  }

  :global(.ant-select-selector) {
    font-size: 14px;
  }

  :global(.ant-table-cell) {
    font-size: 14px;
  }

  :global(.ant-pagination) {
    font-size: 14px;
  }

  :global(.ant-btn) {
    font-size: 14px;
  }

  :global(.ant-select-item-option-content) {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
     font-size: 13px;
  }

  html {
     font-size: 13px;
  }

  :global(.ant-select-selector) {
     font-size: 13px;
  }

  :global(.ant-table-cell) {
     font-size: 13px;
  }

  :global(.ant-pagination) {
     font-size: 13px;
  }

  :global(.ant-btn) {
     font-size: 13px;
  }

  :global(.ant-select-item-option-content) {
     font-size: 13px;
  }

  :global(.ant-select-selection-item) {
    font-size: 13px;
  }

  .header {
    flex-direction: column;
    justify-content: start;
  }

  .header p {
    align-self: flex-start;
  }
}

